
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> 

	
     <link rel = "stylesheet" type = "text/css" href = "/assets/css/style.css" />
	<title>BurgerTime</title>
</head>

<body>
	<img src="/assets/sonic-burger.jpg" width="400px" id="cute_burger">
   

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2018 BurgerTime</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/mikegomez">Reference Work</a>
			</div>
		</div>
	</footer>

</body>
</html>